/* echo CSS file */

Application {
	background-color		: #FFFFFF;
	theme-color				: haloBlue;
}

.mainPanel {
	rounded-bottom-corners	: true;
	corner-radius			: 5;
	padding-bottom			: 10;
	padding-top				: 10;
	padding-left			: 10;
	padding-right			: 10;
}

.mainGrid {
	TestActive				: Embed(source="../images/test_active.png");
	TestComplete			: Embed(source="../images/test_complete.png");		
	TestError				: Embed(source="../images/test_error.png");	
	TestFailed				: Embed(source="../images/test_failed.png");
	TestInit				: Embed(source="../images/test_init.png");
	TestTimeout				: Embed(source="../images/test_timeout.png");
}