<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

	<display-name>Red5 echo application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>@context.config.location@</param-value>
    </context-param>	
    
	<context-param>
		<param-name>locatorFactorySelector</param-name>
		<param-value>@locator.factory.selector@</param-value>
	</context-param>    
    
@global.scope@
		
@parent.context.key@
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/echo</param-value>
	</context-param>

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

@gateway.servlet@
    
@gateway.servlet.mapping@

</web-app>
