body {
    margin: 0em;
    font-family: sans-serif;
    font-size: 0.9em;
}
html, body {
  height: 100%;
}
a {
    color: red;
    background: white;
    text-decoration: none;
}
h1 {
    padding: 0.6em 0;
    margin: 0;
    text-align: center;
    color: black;
    background: #d00;
    border-bottom: 3px solid black;
}
h3 {
    margin-bottom: 0.5em;
}
#menu {
    float: left;
    width: 20em;
    padding: 0px;
    overflow: auto;
    margin-bottom: 1px;
}
#menu h3 {
    margin-top: 1em;
    padding-left: 1em;
}
#content {
    margin: 0 1em 0 21em;
}
#footer {
    border-top: 1px solid red;
    font-size: 70%;
    margin: 0;
    padding: 0 0.5em;
    clear: both;
}
#footer #last_updated {
    float: right;
}
.message {
    border: 1px solid red;
    padding: 0.5em 0.5em;
    color: red;
    font-size: 120%;
}
#menu li {
    color: red;
    cursor: pointer;
}
ul#root {
    margin-top: 1em;
}
ul {
    list-style-type: none;
    margin-left: 1em;
    padding-left: 0;
}
table {
    /*
    table-layout: fixed;
    */
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin: 0;
    padding: 0;
}
table tr th {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    vertical-align: top;
}
table tr th.property {
    min-width: 15em;
}
table tr td {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    vertical-align: top;
}
table tr td.property {
    min-width: 15em;
}
div.sharedObject h4 {
    margin-bottom: 0.5em;
}
dl {
    margin: 0;
}
