Source: red5
Section: web
Priority: optional
Maintainer: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 4.0.0), ant, /usr/bin/javac
Standards-Version: 3.6.1

Package: red5
Architecture: any
Depends: /usr/bin/java
Description: Red5 flash streaming server 
 Red5 is a server that not only streams content to the Flash plugin, but it can push calls and information to the Flash client! It can also receive video/audio/data from a flash client and either save or rebroadcast that content.

