<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="echoService" class="org.red5.server.service.EchoService" init-method="startUp"/>

	<bean id="scriptBeanFactory" class="org.red5.server.script.ScriptBeanFactory" singleton="true" init-method="startup">
		<property name="path"><value>./</value></property>
	</bean>
	

</beans>